nav {

  @include FLEXED( row, space-around, center );
  position: relative;
  z-index: 2;
  background: black;
  height: 7vh;
  font-size: 2.2vw;
  img {
    margin-left: 3vw;
    height: 2.7vw;
    min-height: 35px;
    width: 2.7vw;
    min-width: 35px;
    background: darkgray;
    padding: 1vh 1vh;
    border: 1px solid white;
  }
  div {
    height: 2.7vw;
    min-height: 35px;
    width: 2.7vw;
    min-width: 35px;
  }

  a.navlink {

    color: $COLOR_LIGHT;
    text-decoration: none;
    margin-left: 3vw;
    margin-right: 10vw;
    transition: padding .2s linear;

    &:hover {

      padding-bottom: 10px;

    }

  }

}

@media (max-width: 800px) {
  nav {
    img {
      display: none;
    }

  }

}
