nav {

  @include FLEXED( row, space-between, center );
  position: relative;
  z-index: 2;
  background: black;
  height: 7vh;
  font-size: 2.2vw;

  // span {
  //   color: $COLOR_LIGHT;
  //   font-size: 1.5em;
  //   margin-left: 2%;
  // }
  img {
    height: 2.7vw;
    min-height: 35px;
    width: 2.7vw;
    min-width: 35px;
    background: darkgray;
    margin-left: 2vw;
    margin-right: 10vw;
    padding: 1vh 1vh;
    border: 1px solid white;
  }

  a {

    color: $COLOR_LIGHT;
    text-decoration: none;
    margin-left: 3vw;
    margin-right: 10vw;
    transition: padding .2s linear;

    &:hover {

      padding-bottom: 10px;

    }

  }

}
